/* Administration.css */

#admin-page {
  overflow-x:hidden;
  
}

#dashboard-admin {
  background-color: green;
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-height: 650px;
    padding-top: 70px;
    background-size: cover;
    width: 100%;
 
}

.ind-parent li {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5px;
    justify-content: space-between;
    margin: 10px;
    font-size: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    line-height: 10px;
  
  }
  
  .ind-parent li p {
    margin-right: 0px;

  }
  
  /* Style for the checkbox */
  .ind-parent li #checkbox {
    margin: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
#queue-heading {
    text-align: center;
    font-size: 25px;
    margin: 0px;
    color: white;
  }

  .pickedup {
    margin: 10px;
  }

  hr {
    color: black;
    width: 80vw;
  }

  #pickedup-list {
    padding-top: 75px;
  }

  .pickedup-ind {
    text-align: center;
    list-style: none;
    color: white;
    font-size: 20px;
  }

  #pickedup-heading {
    text-align: center;
    font-size: 25px;
    margin: 25px;
    border: 2px solid black;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    
  }

 