/* Administration.css */

/* Style for the list items */
.ind-parent li {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Adjust as needed */
    justify-content: space-between;
    margin: 15px;
    font-size: 20px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
  }
  
  /* Style for the text fields (Parent name) */
  .ind-parent li p {
    margin-right: 10px; /* Add spacing between text and checkbox */
  }
  
  /* Style for the checkbox */
  .ind-parent li .checkbox {
    margin: 0;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
#queue-heading {
    text-align: center;
    font-size: 25px;
    margin: 0px;
    color: white;
  }